In [1]:
#Import splinter and beautifulsoup

from splinter import Browser

from bs4 import BeautifulSoup as soup

from webdriver_manager.chrome import ChromeDriverManager

import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Downloading: 100%|██████████| 6.21M/6.21M [00:01<00:00, 4.56MB/s]

In [6]:
#Visit the mars nasa news site

url = 'https://redplanetscience.com'

browser.visit(url)

#Optional delay for loading the page

browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [8]:
#Set the html parser

html = browser.html

new_soup = soup(html, 'html.parser')

slide_elem = new_soup.select_one('div.list_text')

In [9]:
slide_elem.find('div', class_ = 'content_title')

In [10]:
#Use the parent elements to find the first 'a' tag and save it as 'news_title'

news_title = slide_elem.find('div', class_ = 'content_title').get_text()

news_title

'Mars Is Getting a New Robotic Meteorologist'

In [11]:
#use the parent element to find the paragraph text

news_p = slide_elem.find('div', class_ = 'article_teaser_body').get_text()
news_p

"Sensors on NASA's Perseverance will help prepare for future human exploration by taking weather measurements and studying dust particles."

### Featured Images

In [19]:
#visit the URL to take the image for our code

url = 'https://spaceimages-mars.com'

browser.visit(url)

In [20]:
#Find and click the full image button

full_image_elem = browser.find_by_tag('button')[1]

full_image_elem.click()

In [21]:
#Parse the html from this page in order to get the html contents

html = browser.html

img_soup = soup(html, 'html.parser')

In [22]:
#Get the relative path to the image URL

img_url_rel = img_soup.find('img', class_= 'fancybox-image').get('src')
img_url_rel

'image/featured/mars3.jpg'

In [24]:
#Use the base URL to create an absolute URL

img_url = f'https://spaceimages-mars.com/{img_url_rel}'

img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [26]:
#Use pandas to get all the rows in the mars facts webpage

df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.columns= ['description', 'Mars', 'Earth']

df.set_index('description', inplace=True)

df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [27]:
browser.quit()

In [28]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'